@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-gray-800 antialiased;
    direction: rtl;
  }
}

.rtl {
  direction: rtl;
}

.ltr {
  direction: ltr;
}
